@font-face {
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: auto;
    height: 60px;
    text-align: center;
    border: solid black 2px
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4D04E;
}

.card {
    height: 522px;
    width: 384px;
    background-color: #FFF;
    border: #111 solid 1px;
    border-radius: 20px;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    flex-basis: 336px;
    height: 200px;
    border-radius: 12px;
}

.card .card-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}