@font-face {                                               /* * prequisites   */
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4D04E;
}

.card {                                                     /* * content   */
    height: 522px;
    width: 384px;
    background-color: #FFF;
    border: #111 solid 1px;
    border-radius: 20px;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

img.illustration {
    flex-basis: 336px;
    height: 200px;
    border-radius: 12px;
    align-self: flex-start;
}

.card-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'Figtree', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    height: 194px;
}

.learning {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    background-color: #F4D04E;
    width: 82px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

.published {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

h1.heading {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
}

.content {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #6B6B6B;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Figtree', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: 'Figtree', Geneva, Verdana, sans-serif;
}