@font-face {                                               /* * prequisites   */
    font-family: "Figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4D04E;
    font-family: 'Figtree', Geneva, Verdana, sans-serif;
}



.card {                                                     /* * content   */
    max-width: 24rem;
    background-color: #FFF;
    border: #111 solid 1px;
    border-radius: 20px;
    padding: 22px;
    box-shadow: 8px 8px #111;
}

img.illustration {
    border-radius: 12px;
}

.learning {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    background-color: #F4D04E;
    width: 82px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    margin: 24px 0px 14px;
}

.published {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 12px 0px;
}

.heading {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 0px 0px 16px;
}

.content {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #6B6B6B;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 20px 0px 0px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}